body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  min-width: 1280px;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Avenir Next";
  font-size: 56px;
  font-weight: 400;
  color: #21100C;
  text-align: center;
}

h2, h3 {
  font-family: "Lato";
  color: #21100C;
  font-weight: 300;
}

h2 {
  font-size: 24px;
  margin-top: 8px;
}

h3 {
  font-size: 20px;
  border-bottom: 1px solid #333;
  line-height: 64px;
  margin-bottom: 40px;
}

.header {
  height: 60px;
  border-bottom: 1px solid #333;
}

.header-logo {
  height: 60px;
  width: 60px;
  background-color: #333;
  float: left;
  text-align: center;
}

.header-logo img {
  width: 28px;
  padding-top: 16px;
}

.main-wrapper {
  background-color: #fff;
}

.main {
  max-width: 1040px;
  margin: 0 auto;
  padding: 96px 0;
}

.lesson-container {
  margin:96px 128px 0 128px;
}

.lesson-card {
  display: inline-block;
  width: 22.5%;
  margin-right: 24px;
  text-align: center;
  box-shadow: 0 0 6px #333;
  background-color: #fff;
  cursor: pointer;
}

.lesson-item {
  border-radius: 4px;
  margin: 16px 32px;
  text-align:center;
}

.lesson-item img {
  width: 256px;
}

.lesson-item p {
  display: inline-flex;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-header {
  height: 8px;
  width: 100%;
  margin-bottom: 60px;
  border-radius: 8px 8px 0 0;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg");
}

.modal-introduction p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  text-align: left;
  margin: 36px auto 40px;
}

.modal-close-btn {
  font-size: 13px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: .3s ease-in-out;
}

.footer {
  padding: 80px 0;
}

.footer-inner {
  max-width: 1040px;
  margin: 0 auto;
}

.footer-logo {
  display: inline-block;
}

.footer-logo img {
  height: 20px;
}

.footer-logo p {
  color: #333;
  font-size: 12px;
}

.footer-inner ul {
  float: right;
}

.footer-inner li {
  color: #333;
  display: inline-block;
  padding-left: 16px;
}

.Activity-card{
  display: inline-flex;
  border: 1px solid #333;
  color: #333;
  margin: 0 -1px -1px 0;
  width: 384px;
  font-size: 15px;
}

.Activity-card .englishName{
  color: #fff;
  transition-duration: 1s;
}

.Activity-card:hover .englishName{
  color: #333;
}

.Activity-card .englishNameWhenClick{
  color: #333;
}

a {
  text-decoration: none;
}

.Image-card{
  display: inline-flex;
  border: 1px solid #333;
  color: #333;
  margin: 0 -1px -1px 0;
  width: 769px;
  height: 592px;
}

.image-item {
  width: 769px;
  height: 576px;
  text-align: center;
}


.image-item img {
  max-width: 640px;
  max-height: 384px;
  margin: 32px 0 16px 0;
  border:double 6px #666666;
}

.image-item li {
  max-width: 384px;
  max-height: 384px;
  margin: 8px 0 8px 212px;
  text-align: initial;
}

.image-item a{
  margin: 8px 32px 8px 32px;
  font-size: 96px;
}




/* .introduction-for-iphone-app{
  float:right;
  margin-left: 16px;
} */